DATABASE_URL="postgresql://postgres:postgres@localhost:5432/development?schema=newportssf"
CLIENT_URL="http://localhost:3000"
SERVER_URL="http://localhost:8080"
CLIENT_TOKEN="clientaccess"
SECRET_KEY="secretkey"
NODE_ENV="development"
CXG_AWS_ACCESS_KEY=""
CXG_AWS_SECRET_KEY=""
AWS_REGION="ap-southeast-1"
S3_BUCKET_NAME=""
AWS_SES_HOST=""
AWS_SES_PORT=""
AWS_SES_USER=""
AWS_SES_PASS=""
REDIS_URL=""